# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[co]

# Virtual Environment
venv/
env/
*.env
.Python
pythonenv*

# Django
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/
*.pyc
*.bak

# Tailwind CSS
.node_modules/
npm-debug.log
yarn-error.log

# Editor-specific
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
