<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'layauts/nav.html' %}
    
    <h3>Añadir Paciente</h3>
    <hr>
    <div class="flex justify-center">
    <div class="space-y-3 w-30">
    <form action="{% url 'agregar_paciente' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
        <input class="mt-4 px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded" type='submit' value='Crear Paciente' >
    </form>
</div>
</body>
</html>