{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'layauts/nav2.html' %}


    <hr>
    <div class="justify-center w-full p-20">
    <div class=" w-100">
    <form action="{% url 'agregar_paciente' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
        <input class="mt-4 px-4 py-2 bg-teal-exact hover:bg-fuchsia-700 text-white rounded" type='submit' value='Crear Paciente' >
    </form>
</div>
{% include 'layauts/footer.html' %}

</body>
</html>