{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Buscar Vehículo</title>
</head>
<body>
    {% include 'layauts/nav2.html' %}
    <hr><hr>
    <div class="flex justify-center items-center m-2   bg-zinc-200 rounded-lg ">
        <h3 class="font-mono text-2xl font-bold text-center mb-2">Vehiculos-Agentes</h3>
        <form class="text-center max-w-sm" action="{% url 'buscar_vehiculo' %}" method="get">
            <div class="flex">
                <input
                  type="text"
                  id="search-input"
                  class="w-full border rounded-l py-2 px-3"
                  name="q" value="{{ query }}"
                  placeholder="Ingrese Petente"
                />
                <button
                  id="search-button"
                  class="bg-teal-exact text-white rounded-r px-4 py-2"
                >
                  Buscar
                </button>
              </div>
        </form>
      </div>
    
        <!-- Mostrar la ficha del vehículo encontrado -->
      
        {% if vehiculos %}
        <div class="flex justify-center items-center m-2">
          <!-- Div principal para centrar el contenido -->
          <div class="w-full max-w-sm   mx-auto my-4 bg-cyan border rounded-lg shadow-lg">
            <h2 class="bg-teal-exact2 text-center text-2xl font-bold leading-none text-gray-900">
              <span id="patente" class="ml-2">{{ vehiculos.0.patente }}</span>
            </h2>
            <hr>
            <p><span class="font-bold mr-2">Modelo:</span> <span id="modelo" class="ml-2">{{ vehiculos.0.modelo }}</span></p>
            <p><span class="font-bold mr-2">Agente:</span> <span id="agente" class="ml-2">{{ vehiculos.0.agente }}</span></p>
            <p><span class="font-bold mr-2">Servicio:</span> <span id="servicio" class="ml-2">{{ vehiculos.0.servicio }}</span></p>
            <p><span class="font-bold mr-2">Teléfono:</span> <span id="telefono" class="ml-2">{{ vehiculos.0.telefono }}</span></p>
          </div>
        </div>
    {% endif %}
    

    {% include 'layauts/footer.html' %}

    
    <script>
        var patenteElement = document.getElementById('patente');
        var modeloElement = document.getElementById('modelo');
        var agenteElement = document.getElementById('agente');
        var servicioElement = document.getElementById('servicio');
        var telefonoElement = document.getElementById('telefono');
      
        patenteElement.textContent = patenteElement.textContent.toUpperCase();
        modeloElement.textContent = modeloElement.textContent.toUpperCase();
        agenteElement.textContent = agenteElement.textContent.toUpperCase();
        servicioElement.textContent = servicioElement.textContent.toUpperCase();
        telefonoElement.textContent = telefonoElement.textContent.toUpperCase();
    </script>
</body>
</html>
