{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body>
<div  class="m-2 md:m-0 bg-gray-100">
<div class="bg-gray-100">
    {% include 'layauts/nav.html' %}
    <div class="container mx-auto px-4 py-8">
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
            <div class="rounded-md bg-green-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M2.293 10.293a1 1 0 011.414 0L10 16.586l6.293-6.293a1 1 0 111.414 1.414l-7 7a1 1 0 01-1.414 0l-7-7a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm leading-5 font-medium text-green-800">
                            {{ message }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    <br>   
</div>
{% include 'layauts/select.html' %}
      
<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 pacientes-container ">
    {% for paciente in pacientes %}
    <div class="m-2 bg-zinc-500 hover:bg-zinc-600 hover:cursor-pointer p-3 rounded-lg hover:shadow-md hover:shadow-zinc-500/50 flex flex-col justify-between h-full ">
        <div>
            <h1 class="text-lg font-bold text-white mb-2">{{ paciente.nombre }} {{ paciente.apellido }}</h1>
            <p class="text-sm text-white mb-2">Servicio: {{ paciente.servicio }}</p>
            <p class="text-sm text-white mb-2">Habitación: {{ paciente.habitacion }}</p>
            <p class="text-sm text-white mb-2">Cama: {{ paciente.cama }}</p>
        </div>
        <div class="flex justify-around mt-4">
            <form method="get" action="{% url 'editar_paciente' paciente.id %}">
                <button type="submit" class="bg-green-500 text-white px-3 py-1 rounded-md text-sm">Editar</button>
            </form>
            <form method="post" action="{% url 'borrar_paciente' paciente.id %}">
                {% csrf_token %}
                <button type="submit"  class="bg-red-500 text-white px-3 py-1 rounded-md text-sm">Borrar</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
    
</div>

    {% include 'layauts/footer.html' %}
    <script src='{% static "js/index.js" %}'></script>
</body>
</html>