{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body class="bg-white">
    {% include 'layauts/nav.html' %}
    <div class="container mx-auto px-4 py-8">
        
    <br>
    <div class="flex justify-center">
        <div class="space-y-3 w-30">
        {% for paciente in pacientes %}
        <div class="bg-zinc-500 hover:bg-zinc-600 hover:cursor-pointer p-3 rounded-lg mb-3 hover:shadow-md hover:shadow-zinc-500/50">
        <h1 class="bg-zinc-300 p-3 rounded-lg block w-full mb-3 hover:shadow-md hover:shadow-zinc-500/50">{{ paciente.nombre }}</h1>
        <p class="bg-zinc-300 p-3 rounded-lg block w-full mb-3 hover:shadow-md hover:shadow-zinc-500/50">{{ paciente.apellido }}</p>
        <p class="bg-zinc-300 p-3 rounded-lg block w-full mb-3 hover:shadow-md hover:shadow-zinc-500/50">Habitación: {{ paciente.habitacion }}</p>
        <p class="bg-zinc-300 p-3 rounded-lg block w-full mb-3 hover:shadow-md hover:shadow-zinc-500/50">Cama: {{ paciente.cama }}</p>
        <p class="bg-zinc-300 p-3 rounded-lg block w-full mb-3 hover:shadow-md hover:shadow-zinc-500/50">Servicio: {{ paciente.servicio }}</p>
        </div>
  
            <form method="get" action="{% url 'editar_paciente' paciente.id %}">
                <button type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded-md">Editar</button>
              </form>
           <form method="post" action="{% url 'borrar_paciente' paciente.id %}">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md">Borrar</button> 
              </form>
        {% endfor %}
        </div>
    </div>
    
</div>
    {% include 'layauts/footer.html' %}
</body>
</html>