{% load static tailwind_tags %}
{% tailwind_css %}


	<nav class="relative px-4 py-4 flex justify-between items-center bg-white">
		<a class="text-3xl font-bold leading-none" href="#">
			<a href="{% url 'index' %}">
                <img src="{% static 'img/logonuevo.png' %}" alt="Logo hospital" class="h-40 w-40">
            </a>
		</a>
		<div class="lg:hidden">
			<button class="navbar-burger flex items-center text-teal-exact p-3">
				<svg class="block h-8 w-8 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto  lg:items-center lg:w-auto lg:space-x-6">
			<li><a class="text-sm font-bold text-gray-400 hover:text-teal-exact" href="{% url 'index' %}">Inicio</a></li>
            {% if user.username == "Cuidadores" %}
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 hover:text-teal-exact font-bold" href="{% url 'buscar_vehiculo' %}">Plaza Automotor</a></li>
			<li class="text-gray-300">
            {% endif %}
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			
			<li><a class="text-sm font-bold text-gray-400 hover:text-teal-exact" href="{% url 'internos' %}">Telefonos Internos</a></li>
            <li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
            <li><a class="text-sm font-bold text-gray-400  hover:text-red-500" href="{% url 'salir' %}">Cerrar sesión</a></li>
            
		</ul>
		
		
	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
			<div class="flex justify-between items-center mb-8">
				<a class=" text-3xl font-bold leading-none" href="#">
					<a href="{% url 'index' %}">
                        <img src="{% static 'img/logonuevo.png' %}" alt="Logo hospital" class="h-60 w-60">
                    </a>
				</a>
				<button class="navbar-close">
					<svg class="h-8 w-8 text-gray-400 cursor-pointer hover:text-teal-exact" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
                <hr>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:text-teal-exact rounded" href="{% url 'index' %}">Inicio</a>
					</li>
                    {% if user.username == "Cuidadores" %}
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:text-teal-exact rounded" href="{% url 'buscar_vehiculo' %}">Plaza Automotor</a>
					</li>
                    {% endif %}
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:text-teal-exact rounded" href="{% url 'internos' %}">Telefonos Internos</a>
					</li>
					

				</ul>
			</div>
            <hr>
			<div class="mt-auto">
				<div class="pt-6">
					
                    <button class="bg-red-500 p-3 rounded-lg">
                        <a href="{% url 'salir' %}">Cerrar sesión</a>
                    </button>
				</div>
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2023</span>
				</p>
			</div>
		</nav>
	</div>


<script>
    // Burger menus
    document.addEventListener('DOMContentLoaded', function() {
        // open
        const burger = document.querySelectorAll('.navbar-burger');
        const menu = document.querySelectorAll('.navbar-menu');
    
        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    
        // close
        const close = document.querySelectorAll('.navbar-close');
        const backdrop = document.querySelectorAll('.navbar-backdrop');
    
        if (close.length) {
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    
        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener('click', function() {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    });
    </script>