{% load static tailwind_tags %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <title>Inicio Sesion</title>
</head>

<body>
  <div class="container flex justify-center items-center ">
    <div class=" px-3">
      <img src="{% static 'img/logonuevo.png' %}"  width="250" height="250" alt="Logo hospital">
    </div>
  </div>
  <hr class="px-10 m-4">

  <div class='container flex justify-center items-center'>
    <form class="rounded-lg bg-white-500 p-5 shadow-lg shadow-zinc-500/50" action="" method="post">
      {% csrf_token %}
      <div class="md:w-full px-3">
        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="usuario">
          Usuario
        </label>
        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" type="text"
          name="username">
      </div>
      <br />
      <div class="md:w-full px-3">
        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="pass">
          Contraseña
        </label>
        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" type="password"
          name="password">
      </div>
      <button class="w-full mt-4 px-4 py-2 bg-teal-exact hover:text-black text-white rounded" type="submit"
        type="submit">Iniciar sesion</button>
  </div>
  </form>
  </div>
</body>

</html>